* {
    box-sizing: content-box;
    font-family: "Roboto", Arial, sans-serif;
    margin: 0;
}

body {
    margin: 0px;
    padding: 0px;
}

/*HEADER =====================================================================*/
body header {
    /*background-color: #00A651;*/
    background-color: #009E60;
    color: #fff;
    position: relative;
    overflow: hidden;
    /*border-bottom: 3px solid #000;*/
}

body header h1 {
    /*border: 3px solid #000;*/
    width: 400px;
    margin: 80px 50px 0px 800px;
    font-size: 60px;
}

body header h1:hover {
    transition: 3s all;
    transform: scale(1.2);
    cursor: pointer;
}

body header div {
    width: 150px;
    height: 150px;
    background-color: #009E60;
}

body header div img {
    width: 165px;
    height: 165px;
    margin: 0px 0px 0px 80px;
    transform: scale(2.2);
}

body header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0px;
    margin: 0px 0px 0px 100px;
    justify-content: end;
    margin: 0 0 0 0;
}

body header nav ul li {
    text-align: end;
    border: 3px solid #fff;
    margin: 5px;
    border-radius: 10px;
}

body header nav ul li:hover {
    transition: 1s all;
    border: 3px solid #000;
    transform: scale(1.1);
}

body header nav ul li a {
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

body header nav ul li a:hover {
    transition: 1s all;
    color: #000;
}

/*FOOTER==============================================================================*/
footer {
    background-color: #121212;
    width: 100%;
    height: 250px;
}

footer h1 {

    color: white;
    margin: 0;
    text-align: center;
    padding: 10px;
}

footer h1:hover {
    transition: 1s all;
    /*border: 3px solid #000;*/
    transform: scale(1.2);
}

footer .contenedor-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0px 0px 0px;
    color: white;
}

footer .contenedor-footer div {
    /*border: 3px solid yellow;*/
    margin: 0px 35px;
    justify-content: center;
    color: white;
}

footer .contenedor-footer div h2 {
    /*border: 3px solid red;*/
    font-size: 35px;
    justify-content: center;
    color: white;
    text-decoration-color: #fff;
}

footer .contenedor-footer div h2 a {
    text-decoration: white;
    color: white;
}

footer .contenedor-footer div h2:hover {
    text-decoration: solid;
    transition: 1s all;
    transform: scale(1.2);
    color: white;
}

footer p {
    display: flex;
    flex-direction: row;
    color: #fff;
    /*border: 3px solid red;*/
    justify-content: center;
    margin: 50px 0px 0px 0px;
}

@media(max-width: 1087px) and (min-width: 911px){
    body header div img {
        /*border: 2px solid #020258;*/
        width: 140px;
        height: 140px;
        margin: 0px 0px 0px 80px;
        transform: scale(1.6);
    }
}

/*RESPONSIVE DESIGN HEADER AND FOOTER*/
@media(max-width: 910px) {

    /*Responsive header*/
    body header {
        /*background-color: #00A651;*/
        background-color: #009E60;
        color: #fff;
        /*border-bottom: 3px solid #000;*/
    }

    body header h1 {
        /*border: 3px solid #000;*/
        align-items: center;
        text-align: center;
        margin-right: 800px;
        font-size: 80px;
    }

    body header div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 280px;
        width: 100%;
    }

    body header div img {
        /*border: 2px solid #020258;*/
        max-width: 100%;
        max-height: 100%;
    }

    /*body header div img:hover{
    transition: 1s all;
    transform: scale(2.2);
}*/
    body header nav ul {
        padding-top: 20px;
    }

    body header nav ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0px;
        margin: 0px 0px 0px 100px;
        justify-content: end;
        margin: 0 0 0 0;
    }

    body header nav ul li {
        text-align: end;
        border: 3px solid #fff;
        margin: 5px;
        border-radius: 10px;
        text-align: center;
    }

    body header nav ul li a {
        display: flex;
        flex-direction: row;
        padding: 1rem 1rem;
        color: #fff;
        text-decoration: none;
        font-size: 25px;
        align-items: center;
        justify-content: center;
    }

    /*Responsive design Footer*/
    footer {
        background-color: #121212;
        width: 100%;
        height: 600px;
    }

    footer h1 {
        /*border: 3px solid blue;*/
        color: white;
        margin: 0;
        text-align: center;
        padding: 10px;
    }

    footer .contenedor-footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin: 50px 0px 0px 0px;
        color: white;
    }

    footer .contenedor-footer div {
        /*border: 3px solid yellow;*/
        margin: 0px 35px;
        justify-content: center;
        color: white;
        text-align: center;
        padding: 25px 0;
    }

    footer .contenedor-footer div h2 {
        /*border: 3px solid red;*/
        font-size: 35px;
        justify-content: center;
        color: white;
        text-decoration-color: #fff;
    }

    footer .contenedor-footer div h2 a {
        text-decoration: white;
        color: white;
    }

    footer p {
        display: flex;
        flex-direction: row;
        color: #fff;
        /*border: 3px solid red;*/
        justify-content: center;
        margin: 50px 0px 0px 0px;
        text-align: center;
    }

}




/*
PARTE DE EVENTOS==============================================================================
*/

.Eventos {
    display: block;
}

.Eventos .TextCenterPE {
    color: #F2F2F7;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    background-color: #121212;
}

.Eventos .Eventos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Eventos .Eventos-container .Evento {
    border-radius: 5px;
    padding: 0px;
    margin: 5px;
    width: 200px;
    color: #fff;
}

.Eventos .Eventos-container .Evento:hover {
    transition: 0.5s all;
    transform: scale(1.1);
    cursor: pointer;
}

.Evento .imgEvento {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgEvento img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.TextCenter {
    text-align: center;
}


.TextCenterAnio {
    border-radius: 5px 5px 0 0;
    padding: 5px;
    margin: 0px;
    color: #fff;
    background: #FFC162;
    text-align: center;
}

.TextEvento {
    margin: 0px;
    padding: 5px 0px 5px 0px;
    border-radius: 0 0 5px 5px;
    background: #009E60;
}

.TextCenterPE {
    padding: 5px 0px 0px 0px;
    text-align: center;
}

/*
PARTE DE MENU==============================================================================
*/
.Menu {
    background-color: #FFF;
}

.Menu .estilosMenu {
    background-color: #121212;
}

.Menu .estilosMenu h1 {
    font-size: 35;
    font-weight: bold;
    color: #F2F2F7;
}

.Menu .estilosMenu p {
    color: #F2F2F7;
}

.container-detalle {
    display: block;
    justify-content: center;
    align-items: center;
}

.cdp {
    text-align: center;
    padding: 5px;
    margin: 5px;
    background: #ED1C24;
    color: #fff;
}


.TextLef {
    text-align: start;
    padding: 0px 0px 0px 2px;
}

.container-detalle-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}

.Textcenter {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}

.p {
    display: flex;
    justify-content: center;
    text-align: center;
    background: #ED1C24;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.container-detalle-sub table {
    border-collapse: collapse;
}

.container-detalle-sub thead tr {
    background-color: #009E60;
    color: #fff;
}


.backgroundGreen {
    padding: 0px 0px 0px 2px;
    background: #009E60;
    color: #fff;
}



.precios {
    text-align: center;
    /*background: #D40F16;*/
    background-color: #ED1C24;
    padding: 10px;
    border-collapse: collapse;
    margin: 0px;
    color: #F0E302;
}

.estilosMenu {
    text-align: center;
    padding: 5px;
}

.estilosMenu h1 {
    font-size: 24px;
}

.h1pt {
    display: flex;
    justify-content: center;
    text-align: center;
    background: #ED1C24;
    color: #fff;
    width: 100%;
}

.h1pt .h1pt2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    padding: 5px;
    background: #ED1C24;
}


.tamaniopizzas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.tamaniopizzas-detalle {
    text-align: center;
    padding: 0px;
    margin: 5px;
    background: #009E60;
    color: #fff;
    border-radius: 5px;
}

.tamaniopizzas-detalle:hover {
    transition: 1s all;
    transform: scale(1.1);
    cursor: pointer;
}

.tamaniopizzas-detalle img {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    padding: 5px;
}

.colorp {
    color: #F0E302;
}

.Entradas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Entradas-right {
    background: #ED1C24;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    padding: 0px;
}

.Entradas-right:hover {
    transform: scale(1.1);
    transition: 1s all;
    cursor: pointer;
}

.Entradas-right h2 {
    text-align: center;
    padding: 5px;
    background: #009E60;
    border-radius: 5px 5px 0 0;
}

.Entradas-left td {
    text-align: center;
}

.Entradas2 {
    background: #009E60;
    color: #fff;
}

.Textcenter {
    background-color: #ED1C24;
}

.Entradas-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Entradas-left-Detalle {
    display: block;
    justify-content: center;
    align-items: center;
    border: 1px solid #F0E302;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: #ED1C24;
}

.Entradas-left-Detalle:hover {
    transition: 1s all;
    transform: scale(1.1);
    cursor: pointer;
}

.Entradas-left-Detalle h1 {
    text-align: center;
    padding: 2px 0px 0px 0px;
}

.Entradas-left-Detalle .imgELD {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.Entradas-left-Detalle .imgELD img {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.TextLef {
    background-color: #FFC162;
}

.Combos{ 

    h1{
    text-align: center;
    background-color: #009E60;
    color: #fff;
    }

    .Combos-detalle {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #fff;

        .imgCombo {
            padding: 0px;
            margin: 5px;
            background-color: #F2F2F7;
            border-radius: 10px;

            :hover {
                transition: 1s all;
                transform: scale(1.1);
            }

            img {
                width: 250px;
                height: 200px;
            }
        }
    }   

}



.Calzones {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #009E60;
    color: #fff;
    padding: 5px;
    margin: 0px;
}

.Calzones-Detalle h1 {
    margin: 10px 0;
    background-color: #ED1C24;
    border-radius: 10px;
}

.Calzones table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

.Calzones tbody tr {
    cursor: pointer;
}

.Calzones tbody tr:hover {
    background: #ED1C24;
    transition: 1s all;
}

.Calzones h1 {
    text-align: center;
}

.Adicionales {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 5px;
    background: #ED1C24;
}

.Adicionales-Detalle h1 {
    margin: 10px 0;
    background-color: #009E60;
    border-radius: 10px;
}

.Adicionales h1 {
    text-align: center;
}

.Adicionales table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

.Adicionales tbody tr {
    cursor: pointer;
}

.Adicionales tbody tr:hover {
    background: #009E60;
    transition: 1s all;
}

.Refrescos {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 5px;
    background: #009E60;
}

.Refrescos-Detalle h1 {
    margin: 10px 0;
    background-color: #ED1C24;
    border-radius: 10px;
}

.Refrescos h1 {
    font-size: 24px;
    text-align: center;
}

.Refrescos h2 {
    text-align: center;
}

.Refrescos h2 {
    font-size: 18px;
}

.Refrescos table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

.Refrescos tbody tr {
    cursor: pointer;
}

.Refrescos tbody tr:hover {
    background: #ED1C24;
    transition: 1s all;
}

.Cervezas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ED1C24;
    padding: 5px;
    color: #fff;
}

.Cervezas-Detalles h1 {
    margin: 10px 0;
    background-color: #009E60;
    border-radius: 10px;
}

.Cervezas h1 {
    font-size: 24px;
    text-align: center;
}

.Cervezas table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

.Cervezas tbody tr {
    cursor: pointer;
}

.Cervezas tbody tr:hover {
    background: #009E60;
    transition: 1s all;
}

/*iniciopagina==============================================================================*/

.inicio {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.inicio>div {
    margin: 20px auto;
    max-width: 800px;
    background-color: #F2F2F7;
    border-radius: 10px;
}

.inicio h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.inicio p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    text-align: justify;
}

.inicio a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.inicio a:hover {
    color: #0056b3;
}

/*blog==============================================================================*/
.blog {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.blog>div {
    margin: 20px auto;
    max-width: 800px;
    background-color: #F2F2F7;
    border-radius: 10px;
}

.blog h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.blog h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
}

.blog p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    text-align: justify;
}

.blog a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.blog a:hover {
    color: #0056b3;
}
.blog .bloautor {
    display: flex;
    align-items: center;
}

.blog .bloautor picture {
    margin-right: 20px;
}

.blog .bloautor img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 0 20px;
}
/*RESPONSIVE DESIGN Pizzas Menu*/
@media(max-width: 575px) {

    .container-detalle thead{
        display: none;
    }


    .container-detalle-sub, .container-detalle-sub .table tbody{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .container-detalle-sub td{
        display: block;
    }

    .table{
        width: 100%;
    }

    .backgroundGreen{
        text-align: center;
        border-radius: 10px 10px 0 0;
        padding: 2px;
    }

    .container-detalle-sub .table tbody tr .precios{
        text-align: right;
        position: relative;
        width: 180px;
    }

    .container-detalle-sub .table tbody tr{
        padding-top: 5px;
        margin: 0px 5px 0px 0px;
    }

    #borderResponsive{
        border-radius: 0 0 10px 10px;
    }

     .table td::before{
        content: attr(data-label);
        position:absolute;
        left: 0;
        color: #F2F2F7;
        width: 10%;
        padding-left: 10px;
        text-align: left;
    }

    .ResponsivePuntos{
        display: none;
    }

    .table .precios:hover{
        cursor: pointer;
        background: #FFC162;
        transition: 1s all;
        color: #FFF;
    }
}