<section id="contactenos">

  <div class="contenedor-info">
    <h1>Contacto</h1>
    <div class="info">
      <h4>Nuestro numero de teléfono:</h4>
      <p>(504) 9683-3534</p>
    </div>
  </div>

</section>