<footer id="footer">
    <h1>Parma's Pizza</h1>
    <div class="contenedor-footer">
        {{#each footerOptions}}
        <div>
            <h2><a href="{{url}}">{{label}}</a></h2>
        </div>
        {{/each}}
    </div>
    <p>© 2024 Parma's Pizza Todos los derechos reservados</p>
</footer>
