{{#each menuTP}}
  <div class="tamaniopizzas-detalle">
    <img src="{{imgtamaniopizza}}" alt="" />
    <h1>{{tamanio}}</h1>
    <div class="colorp">
      <h4>{{slices}}</h4>
    </div>
  </div>
{{/each}}