<section class="Cervezas">
  <div class="Cervezas-Detalles">
    <h1>Cervezas</h1>
    <table>
      <thead></thead>
      <tbody>
        {{#each menucervezas}}
          <tr>
            <td>
              {{nombrecerv}}
            </td>
            <td>{{pricecerv}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>