<div class="contenedor-main-preguntas-frecuentes">
    <div class="contenedor-titulo">
        <h1>Preguntas Frecuentes</h1>
    </div>
    <div class="contenedor-preguntas-frecuentes">
        {{#each preguntasfrecuentes}}
            <div class="preguntas-frecuentes">
                <h2>{{pregunta}}</h2>
                <p>{{{respuesta}}}</p>
            </div>
        {{/each}}
    </div>
</div>
